In [31]:
#import libraries 
import pandas as pd
import numpy as np
import os

In [32]:
path= r'/Users/eleni_icon/09-2024 Instacart Basket Analysis'

In [33]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = 0)

df_ords_prior= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = 0)

In [34]:
#check the output

df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [35]:
# Check the output

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [36]:
# Check the size

df_ords_prior.shape

(32434489, 3)

In [37]:
# Check the size

df_ords.shape

(3421083, 7)

In [38]:
# inner merge dataframe 

df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [39]:
# examine value counts on '_merge' column

df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [40]:
# export data as pickle
df_merge_large.to_pickle(os.path.join(path, '02 data' , 'prepared data' , 'orders_products_combined.pkl'))